{:deps true
 :dev-http {8000 "public"}
 :js-options {:js-package-dirs ["node_modules"]}
 :builds {:app
          {:target :browser
           :modules {:main {:init-fn playground.core/init}}
           :js-options {:resolve {"highlight.js" {:target :npm :require "highlight.js/lib/highlight"}}}
           :output-dir "public/js/compiled"
           :release {:compiler-options {:optimizations :simple}}
           :asset-path "/js/compiled"
           :devtools {:preloads [devtools.preload]}}}}
